/* Full site formatting */
* {
  font-family: Helvetica;
}

body {
  background-color: #efea8e;
  padding: 15px 25px 15px 25px;
}

/* Title Text */
h1 {
  color: #f2533d;
  /*font-family: Helvetica;*/
  font-weight: bold;
  text-align: center;
}

/* Description Text */
h3 {
  color: #f2533d;
  /*font-family: Helvetica;*/
  text-align: center;
}

/* Link Button padding */
.linkButtonFrame {
 padding-top: 2em;
}

/* Link Button */
.linkButton {
  background-color: #f2533d;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  display: block; /* either for width percentage or margin centering? */
  height: 65px;
  width: 95%; /* sets button to percentage of screen width */
  margin: 0 auto; /* centers button to screen width */
  /* font stuff */
  color: white;
  /*font-family: Helvetica;*/
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

/* Link button on hover & focus */
.linkButton:hover, .linkButton:focus {
  background-color: #ff7967;
}

/* Image style for inside buttons */
button img {
  height: 100%;
  width: auto;   /* Maintains aspect ratio */
  object-fit: contain; /* Prevents distortion if width/height are both set */
  padding-right: 15px;
  vertical-align: middle; /* centers text to image vertically */
  box-align: left;
}

/* unvisited link */
a:link {
  color: inherit;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* selected link */
a:active {
  color: inherit;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .logoImage {
    display: block;
    width: 45%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 75%;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .logoImage {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 80%;
  }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .logoImage {
    display: block;
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 60%;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logoImage {
    display: block;
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 40%;
  }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logoImage {
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 40%;
  }

}




/* Modal Pop Up Testing*/
.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 1px 4px black;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.modal-inner h2 {
  margin: 0;
}

.modal-inner p {
  line-height: 24px;
  margin: 10px 0;
}

.modal-inner img {
  width: 30%;
}




/* Other tut testing */

.paymentButtonContainer {
  width: 100%;
  height: 20px;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentButton {
  background-color: #f2533d;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  /*display: block; /* either for width percentage or margin centering? */
  height: 65px;
  width: 95%; /* sets button to percentage of screen width */
  margin: 0 auto; /* centers button to screen width */
  /* font stuff */
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

.popup {
  width: 65%;
  background: lightgray;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  /*justify-content: center;*/
}

.open-popup {
  display: block;
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s, top 0.4s ease-in-out;
}

.popup img {
  width: 50%;
  padding: 2%;
  vertical-align: center;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 5px 0;
  background: #f2533d;
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0 , 0, 0, 0.2);
}
