body {
  background-color: #efea8e;
  padding: 15px 25px 15px 25px;
}

/* Title Text */
h1 {
  color: #f2533d;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

/* Description Text */
h3 {
  color: #f2533d;
  font-family: Helvetica;
  text-align: center;
}

/* Link Button padding */
.linkButtonFrame {
 padding-top: 2em;
}

/* Link Button */
.linkButton {
  background-color: #f2533d;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  color: white;
  display: block;
  height: 65px;
  width: 95%;
  margin: 0 auto;
}

/* Link button on hover & focus */
.linkButton:hover, .linkButton:focus {
  background-color: #ff7967;
}

button a{
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

/* Image style for inside buttons */
button img {
  height: 100%; /* Scales relative to button height */
  width: auto;   /* Maintains aspect ratio */
  object-fit: contain; /* Prevents distortion if width/height are both set */
  padding-right: 15px;
  vertical-align: middle;
}

/* unvisited link */
a:link {
  color: inherit;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* selected link */
a:active {
  color: inherit;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}