/* Full site formatting */
* {
  font-family: Helvetica;
  text-align: center;
}

/* Body formatting */
body {
  background-color: #efea8e;
  padding: 15px 25px 15px 25px;
}

/* Title Text */
h1 {
  color: #f2533d;
  font-weight: 900;
}

/* Description Text */
h3 {
  color: #f2533d;
}

/* Link Button padding */
.linkButtonFrame {
 padding-top: 2em;
}

/* Link Buttons */
.linkButton {
  background-color: #f2533d;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  display: block; /* either for width percentage or margin centering? */
  margin: 0 auto; /* centers button to screen width */
  width: 95%; /* sets button to percentage of screen width */
  height: 65px;
  /* font settings */
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
}

/* Link button on hover & focus */
.linkButton:hover, .linkButton:focus {
  background-color: #ff7967;
}

/* Image style for inside buttons */
button img {
  height: 100%;
  width: auto;   /* Maintains aspect ratio */
  object-fit: contain; /* Prevents distortion if width/height are both set */
  padding-right: 15px;
  vertical-align: middle; /* centers text to image vertically */
  box-align: left;
}

/* Link formatting unvisited, visited, mouse over, & selected */
a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .logoImage {
    display: block;
    width: 45%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 75%;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .logoImage {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 80%;
  }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .logoImage {
    display: block;
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 60%;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logoImage {
    display: block;
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 40%;
  }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logoImage {
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
  }

  .payQRTemp {
    display: block;
    margin: auto;
    width: 40%;
  }

}
